
@font-face {
    font-family: 'proximaNova';
    src: url('../fonts/Proxima-Nova-Font/proximanovaregular-webfont.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Font/proximanovaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}