.heading{
    &-lg{
        @include font($heading-lg,$color-primary,normal);


        @include viewport-md{
            @include font($heading-sm,null,null)
        }

        @include viewport-sm{
            @include font($txt-xl,null,null);
            text-align: center;
        }
    }

    &-sm-primary{
        @include font($heading-sm,$color-primary,normal);

        @include viewport-md{
            @include font($txt-lg,null,null);
            text-align: center;
        }

        @include viewport-sm{
            @include font($heading-sm,null,null);
            text-align: start;
        }
    }

    &-sm-secondary{
        @include font($heading-sm,$color-secondary,normal);

        @include viewport-md{
            @include font($txt-lg,null,null);
            text-align: center;
        }

        @include viewport-sm{
            @include font($heading-sm,null,null);
            text-align: start;
        }
    }
}

.txt{
    &-xl{
        @include font($txt-xl,$color-primary,null);

        @include viewport-sm{
            @include font($txt-sm,$color-primary,null);
            text-align: center;
        }
    }
    &-lg{
        @include font($txt-lg,$color-primary,null);

        @include viewport-sm{
            @include font($txt-md,$color-primary,null);
            font-weight: bold;
        }
    }
    &-md{
        @include font($txt-md,$color-primary,null);


        @include viewport-sm{
            @include font($txt-sm,$color-secondary,null);
            
        }
    }
    &-sm{
        @include font($txt-sm,$color-secondary,null);
        line-height: 25px;

        @include viewport-sm{
            text-align:start;
        }
    }

    &-sm-medium-grey{
        @include font($txt-sm,$color-medium-grey,null);
        line-height: 26px;


    @include viewport-sm{
        line-height: 15px;
    }
    }
}