// Hamburger Menu
%burger-menu-lines {
    content: "";
    background: $color-primary;
    @include size(32px,4px);
    display: block;
    @include position(absolute,null,null,null,0);
    transition: all ease 0.2s;
}

// parallex Effect
%onTop{
    position: relative;
    z-index: 1;
}

// Section placeholder
%section-bg{
    min-height: 700px;
    @include flex(center,center,null);
    position: relative;
    // opacity: 0;

    .heading{
        margin-bottom:55px
    }

    .content{
        max-width: 40%;

        @include viewport-sm{
            max-width:100%;
            margin:10px 0;
        }
    }

    .img{
        position: absolute;
        top: 0;
        right: 0;
        @include size(50%,100%);
        object-fit: cover;
        opacity: 0;

        @include viewport-sm{
            position:static;
            width: 100%;
            height: 100%;
        }
    }

    @include viewport-sm{
        min-height: 620px;
        @include flex(space-between,center,column);

        .heading{
            margin: 28px 0;
        }

        .content{
            max-width: 100%;
            text-align: center;
        }
    }
}
