// Form with animation
.form {
    @include flex(null,null,column);
    @include position(relative);

    &-group {
        position: relative;
        padding: 20px 0;
        max-width: 100%;

        .form-input,
        .form-textarea {
            border: none;
            border-bottom: 1px solid $color-secondary;
            display: block;
            padding: 10px 0;
            width: 100%;
            background: transparent;
            resize:vertical;

            &:valid,
            &:focus {
                border-bottom-color: $color-red;
                outline: none;


                &+.form-label {
                    color: $color-red;
                    transform: translateY(0);
                }
            }
        }

        .form-label {
            color: $color-secondary;
            font-weight: 100;
            @include position(absolute,0,null,null,0);
            pointer-events: none;
            transform: translateY(30px);
            transition: all 0.2s ease-in-out;
        }
    }

    &-btn {
        padding: 10px 46px;
        border: none;
        background-color: $color-red;
        border-radius: 100px;
        max-width: 50%;
        @include position(absolute,null,0,30px,null);
        transition: all 0.5s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: $color-secondary;
            color: $color-red;
        }

        @include viewport-md {
            max-width: 70%;
        }
    }
}