body {
    font-family: proximaNova;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.no_scroll {
    overflow-y: hidden;
}


// Banner Section
.banner {
    height: 100vh;

    &_fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &_content {
        @include flex(center, center, column);
        @include size(auto, 100vh);

        &-head {
            margin-bottom: 16px;
        }

        &-para {
            opacity: 0;
            animation: 5s textShow 2s ease-in 1;
            animation-fill-mode: forwards;
        }
    }
}

[data-animate] {
    opacity: 0;
}

.animated {
    transition: all 1s cubic-bezier(0.57, 0.08, 0.9, 0.36);
    opacity: 1;
}

//   About us
.about {
    @extend %onTop;
    @extend %section-bg;

    &-text {
        color: $color-secondary;
    }
}

// Timeline
.timeline {
    @extend %onTop;

    &_container {
        @include flex(space-between, flex-start, null);
        @include position(relative);

        .timeline_right,
        .timeline_left {
            @include size(50%)
        }

        .progress {
            @include flex(center, center, null);

            &_content {
                position: relative;

                &:nth-child(1)::after {
                    content: "";
                    display: block;
                    @include size(4px, 98%);
                    @include position(absolute, 0, -11px);
                    background-color: $color-medium-grey;
                    z-index: -2;
                }

                &.go:nth-child(1)::before {
                    @extend %timeline-child-before;
                }

                &.occasion-one {
                    +.progress_content {
                        .progress_content_list:nth-child(1) {
                            .occasion::before {
                                @extend %circle-border-grey-animation;
                            }
                        }
                    }

                    .progress_content_list:nth-child(1) .dates {
                        @extend %timeline-font-animated-color;
                    }

                    &:nth-child(1)::before {
                        @include size(4px, 32%);
                        @extend %timeline-child-before;
                    }
                }

                &.occasion-two {
                    +.progress_content {
                        .progress_content_list:nth-child(1) {
                            .occasion::before {
                                @extend %circle-border-red-animation;
                            }
                        }

                        .progress_content_list:nth-child(2) {
                            .occasion::before {
                                @extend %circle-border-grey-animation;
                            }
                        }
                    }

                    .progress_content_list:nth-child(2) .dates {
                        @extend %timeline-font-animated-color;
                    }

                    &:nth-child(1)::before {
                        @include size(4px, 48%);
                        @extend %timeline-child-before;
                    }
                }

                &.occasion-three {
                    +.progress_content {
                        .progress_content_list:nth-child(1) {
                            .occasion::before {
                                @extend %circle-border-red-animation;
                            }
                        }

                        .progress_content_list:nth-child(2) {
                            .occasion::before {
                                @extend %circle-border-red-animation;
                            }
                        }

                        .progress_content_list:nth-child(3) {
                            .occasion::before {
                                @extend %circle-border-grey-animation;
                            }
                        }
                    }

                    .progress_content_list:nth-child(3) .dates {
                        @extend %timeline-font-animated-color;
                    }

                    &:nth-child(1)::before {
                        @include size(4px, 68%);
                        @extend %timeline-child-before;
                    }
                }

                &.occasion-four {
                    +.progress_content {
                        .progress_content_list:nth-child(1) {
                            .occasion::before {
                                @extend %circle-border-red-animation;
                            }
                        }

                        .progress_content_list:nth-child(2) {
                            .occasion::before {
                                @extend %circle-border-red-animation;
                            }
                        }

                        .progress_content_list:nth-child(3) {
                            .occasion::before {
                                @extend %circle-border-red-animation;
                            }
                        }

                        .progress_content_list:nth-child(4) {
                            .occasion::before {
                                @extend %circle-border-grey-animation;
                            }
                        }
                    }

                    .progress_content_list:nth-child(4) .dates {
                        @extend %timeline-font-animated-color;
                    }

                    &:nth-child(1)::before {
                        @include size(4px, 99%);
                        @extend %timeline-child-before;
                    }
                }

                .progress_content_list {
                    line-height: 20px;

                    &:nth-child(1) {
                        margin-top: 150px;
                    }

                    &:nth-child(2) {
                        margin-top: 62px;
                    }

                    &:nth-child(3) {
                        margin-top: 82px;
                    }

                    &:last-child {
                        margin-top: 141px;
                    }

                    .occasion,
                    .dates {
                        vertical-align: middle;
                    }

                    .occasion {
                        &::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            @include size(18px, 18px);
                            position: relative;
                            background-color: $color-secondary;
                            border: 4px solid $color-medium-grey;
                            border-radius: 50%;
                            outline: 4px solid $color-secondary;
                        }
                    }

                }
            }
        }

        .timeline_right {
            .head {
                margin-bottom: 55px;
            }

            .story-content {
                padding: 141px 0 245px 116px;
            }

            &.go {
                .story-content-text:nth-child(1) {
                    display: block !important;
                    animation: slide-Left 7s;
                }
            }

            &.occasion-one {
                .story-content-text:nth-child(2) {
                    display: block !important;
                    animation: slide-Left 7s;
                }
            }

            &.occasion-two {
                .story-content-text:nth-child(3) {
                    display: block !important;
                    animation: slide-Left 7s;
                }
            }

            &.occasion-three {
                .story-content-text:nth-child(4) {
                    display: block !important;
                    animation: slide-Left 7s;
                }
            }

            &.occasion-four {
                .story-content-text:last-child {
                    display: block !important;
                    animation: slide-Left 7s;
                }
            }
        }

    }
}

@include viewport-sm {
    .timeline {

        .timeline_container {
            align-items: flex-start;
            padding-bottom: 30px;

            .progress_content {
                &.occasion-one {
                    &:nth-child(1)::before {
                        height: 25%;
                    }
                }

                &.occasion-two {
                    &:nth-child(1)::before {
                        height: 42%;
                    }
                }

                &.occasion-three {
                    &:nth-child(1)::before {
                        height: 65%;
                    }
                }

                .progress_content_list {
                    line-height: 20px;

                    &:nth-child(1) {
                        margin-top: 100px;
                    }

                    &:nth-child(2) {
                        margin-top: 62px;
                    }

                    &:nth-child(3) {
                        margin-top: 82px;
                    }

                    &:last-child {
                        margin-top: 141px;
                    }
                }
            }

            .timeline_right {

                .head {
                    margin-bottom: 10px;
                }

                .story-content {
                    padding: 58px 0 48px 13px;
                }
            }
        }
    }
}


// Services Section
.services {
    @extend %onTop;
    padding: 140px 0;

    &_head {
        text-align: center;
        margin-bottom: 80px;

        @include viewport-sm {
            margin-bottom: 40px;
        }
    }

    &_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &_list {
        width: calc((100% / 3) - 45px);
        margin-bottom: 70px;

        &-img {
            opacity: 0;
        }

        &-head {
            margin: 20px 0 16px 0;
        }


        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }


        @include viewport-sm {
            width: 100%;
            margin-bottom: 35px !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }

    @include viewport-sm {
        padding: 70px 0;
    }
}

.hiring {
    @extend %onTop;
    @extend %section-bg;

    &_content-img {
        @include position(absolute, 0, null, null, 0);
    }
}

// Contact us
.contact {
    @extend %onTop;
    @extend %section-bg;

    .map-responsive {
        opacity: 0;
        @include position(absolute, 0, 0);
        @include size(50%, 700px);

        @include viewport-sm {
            @include position(static);
            @include size(100%, 500px);
        }
    }
}

.contact iframe.fadeIn {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.ml-auto {
    margin-left: auto;
}

.mr-10 {
    margin-right: 10px;
}

.d-none {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}