body{
    font-family: proximaNova;
}

.container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
}

.none{
    display: none;
}

// Banner Section
.banner{
   


    &_content{
        @include flex(center,center,column);
        @include size(auto,100vh);

        &-head{
            margin-bottom: 16px;
        }
    }
}
[data-animate] {
    opacity: 0;
    will-change: auto;
  }
  
  .animated {
    transition: all 1s cubic-bezier(0.57, 0.08, 0.9, 0.36);
    opacity: 1;
  }

//   About us
.about{
   @extend %section-bg;

   &_content{

    max-width: 40%;

    &-text{
        color:$color-secondary;
    }

    &-img{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        object-fit: cover;
        opacity: 0;

        @include viewport-sm{
            position:static;
            width: 100%;
            height: 100%;
        }
    }
   
   }
   &_head{
    margin-bottom:55px
   }
}


// Services Section
.services{
    background-color:$color-light-grey;
    padding: 140px 0;

    &_head{
        text-align: center;
        margin-bottom:80px;
    }

    &_wrapper{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &_list{
        width: calc((100% / 3) - 45px);
        margin-bottom: 70px;

        &-head{
            margin:20px 0 16px 0;
        }


        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }


        @include viewport-sm{
            width: 100%;
            margin-bottom: 70px !important;

            &:last-child{
                margin-bottom: 0 !important;
            }
        }
    }
}

// We Hiring
// .hiring{
//     background-color:$color-primary;
//     min-height: 700px;
//     @include flex(center,center,null);
//     position: relative;
 
//     &_content{
 
//      max-width: 40%;
 
//      &-text{
//          color:$color-secondary;
//      }
 
//      &-img{
//          position: absolute;
//          top: 0;
//          right: 0;
//          width: 50%;
//          object-fit: cover;
//      }
    
//     }
//     &_head{
//      margin-bottom:55px
//     }
//  }

.hiring{
    @extend %section-bg;

    &_content{
        max-width: 40%;
        display: flex;
        /* justify-content: flex-end; */
        margin-left: auto;
    }

    &_content-img{
       @include position(absolute,0,null,null,0);
       @include size(50%,null);
       object-fit: cover;
       opacity: 0;
    }
}

// Contact us
.contact{
    @extend %section-bg;

    &_content{
        max-width: 40%;
    }

    .form{
        display: flex;
        flex-direction: column;
        position: relative;

        &-control{
            background-color: transparent;
            border: 0;
            outline: 0;
            border-bottom:2px solid $color-secondary;
            padding: 5px;
            margin-bottom: 20px;
            caret-color: $color-secondary;
            color: $color-secondary;

            ::placeholder{
                color: $color-secondary;
            }
        }

        &-btn{
            padding: 10px 46px;
            border: none;
            background-color: #c71222;
            border-radius: 100px;
            max-width: 50%;
            position: absolute;
            bottom:20px;
            right: 0;
        }
    }



    iframe{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }
}
.contact iframe.fadeIn{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.fadeIn{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}