body {
    font-family: proximaNova;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
}

.no_scroll{
    overflow-y: hidden;
}


// Banner Section
.banner {
    height: 100vh;
    &_fixed{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    &_content {
        @include flex(center, center, column);
        @include size(auto, 100vh);

        &-head {
            margin-bottom: 16px;
        }

        &-para{
            opacity: 0;
            animation: 5s textShow 2s ease-in 1;
            animation-fill-mode: forwards;
            // animation-duration:5s
        }
    }
}

[data-animate] {
    opacity: 0;
    will-change: auto;
}

.animated {
    transition: all 1s cubic-bezier(0.57, 0.08, 0.9, 0.36);
    opacity: 1;
}

//   About us
.about {
    @extend %onTop;
    @extend %section-bg;

    &-text {
        color: $color-secondary;
    }
}


// Services Section
.services {
    @extend %onTop;
    padding: 140px 0;

    &_head {
        text-align: center;
        margin-bottom: 80px;

        @include viewport-sm{
            margin-bottom: 40px;
        }
    }

    &_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &_list {
        width: calc((100% / 3) - 45px);
        margin-bottom: 70px;

        &-img {
            opacity: 0;
        }

        &-head {
            margin: 20px 0 16px 0;
        }


        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }


        @include viewport-sm {
            width: 100%;
            margin-bottom: 35px !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }

    @include viewport-sm {
        padding: 70px 0;
    }
}

.hiring {
    @extend %onTop;
    @extend %section-bg;

    &_content-img {
        @include position(absolute, 0, null, null, 0);
    }
}

// Contact us
.contact {
    @extend %onTop;
    @extend %section-bg;

    .map-responsive {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 50%;
        height: 700px;

        @include viewport-sm {
            position: static;
            width: 100%;
            height: 500px;
        }
    }
}

.contact iframe.fadeIn {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.ml-auto {
    margin-left: auto;
}

// Animation
@keyframes textShow{from { opacity:0; } to { opacity:1; } }



// Timeline
.timeline{
    @extend %onTop;
    &_wrapper{
        display: flex;
    }

    &_history{
        width: 50%;
        display: flex;
        justify-content: center;

        &-left{

            position: relative;
            margin-right:13px;
            margin-top: 150px;

            .dates{
                position: relative;
                margin-bottom: 50px;
                &::after{
                    content:"";
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background: $color-secondary;
                    border-radius:50%;
                    position: absolute;
                    top: 0px;
                    right: -23px;
                    border: solid 4px #d4d4d4;
                    outline: 4px solid white;
                    
                   
                }
            }

            .last{}

        }

        &-right{
            margin-left: 13px;
            margin-top: 150px;

            .events{
                position: relative;
                margin-bottom: 50px;
            }
        }

        span{
            display: inline-block;
            width: 4px;
            height: auto;
            background: #d4d4d4;
        }
    }

    padding-bottom: 150px;
}

.active{
    p{
        color: $color-red;
    }
    &::after{
        border: solid 4px $color-red !important;
    }
    
}