.navigation {
    position: fixed;
    @include size(100%,70px);
    z-index: 2;
}


.brand {
    @include flex(space-between,center,null);
    min-height: 70px;

    &_logo{
        text-decoration: none;
    }
}

.nav_main {
    @include flex(center,center,null);

    &-list {
        @include flex(center,center,null);

        &--items {
            position: relative;

            .nav-links {
                display: block;
                padding: 10px 20px;
                color: $color-primary;
                text-decoration: none;
                font-weight: normal;

                &:hover {
                    color: $color-red;
                    transition:all 1s ease-in-out;
                    
                }

            }
            @include viewport-sm{
                margin-bottom: 30px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.burger_menu{
    cursor: pointer;
    background: transparent;
    border: 0;
    display: none;

    &-lines{
            background: $color-primary;
            @include size(32px,4px);
            display: block;
            position: relative;
            transition: all ease 0.1s;

            &::before{
                @extend %burger-menu-lines;
                top: -7px;
            }

            &::after{
                @extend %burger-menu-lines;
                top: 7px;
            }
    }
}

.none{
    display: none
  }

@media (min-width: 0px) and (max-width: 1024px) {
.nav-desk{
    display: none;
}

.burger_menu{
    display: block;
}

.none{
    display: block;
}

.mob_nav{
    width: 100%;
    @include position(absolute,89%,0);
    visibility: hidden;
    opacity: 0;
}

.nav_main-list--mobile {
    @include flex(flex-start,center,column);
    background: $color-primary;
    @include size(0,100vh);
    color: $color-secondary;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 50px 0 0 0;
}

.nav_main-list--items .nav-links {
    display: block;
    padding: 10px 20px;
    color: $color-secondary;
    text-decoration: none;
}
}

.mob_nav.show , .mob_nav.show .nav_main-list--mobile{
    visibility: visible;
    opacity: 1;
    @include size(100%,100vh);
}

 /* Open Menu */
 .burger_menu.open span {
    background:transparent;

    &::before{
      transform:rotate(45deg);
    top:0;
    }

    &::after{
      transform:rotate(-45deg);
      top:0;
  }
}

  // Scroll Background
  .nav-active {
    background-color: $color-primary;
    color:$color-secondary;
    transition: 0.2s ease-in-out;
    position: fixed;
    z-index: 3;

    .nav_main-list--items .nav-links{
        color:$color-secondary;

        &:hover{
            color: $color-red;
        }
    }

    .burger_menu-lines{
        background-color:$color-secondary;
    
        &::before,&::after{
            background-color:$color-secondary; 
        }
    }

    .brand_logo{
        color:$color-secondary;
    }
}
